<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  At Open Mats Australia we believe that Brazilian Jiu Jitsu (BJJ) training should be available to everyone. 
  We believe that open mats sessions should be free to all (though this privilege should not be abused).
  We also believe gyms should welcome others to train at their gym when travelling 
  or visiting other places (fees should apply).
  
</p>
