<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Neil Woodroffe if you have any queries about this site -
  <a href="mailto:neilowoodroffe@hotmail.com?subject=Open%20Mats%20Australia">neilowoodroffe@hotmail.com</a>.

</p>
