<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Contact Neil Woodroffe at <a href="mailto:neilowoodroffe@hotmail.com?subject=Open%20Mats%20Australia reset account">neilowoodroffe@hotmail.com</a> if you have forgotton your password or want to delete your account. If you have forgotten your password we will have to delete your current account and then we will send you an email advising you to sign up to Open Mats Australia again!

</p>
