
<style>
img { 
  width:12%; 
  height:12%;
  }
</style>

<div class="center hero-unit">
  <h1>Welcome to</h1>
  <h1>Open Mats Australia</h1>

  <h2>
    Invite others to join your BJJ open mat sessions like
    <a href="https://www.facebook.com/5thWaveBJJ/" style="color:darkblue">us!</a> 
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  
</div>

<%= link_to image_tag("rails-logo.png", alt: "Rails does it all."), 'http://rubyonrails.org/' %>

