<footer class="footer navbar-fixed-bottom">
<!footer class="footer"-->
  <small>
    Created by Neil Woodroffe with thanks to
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.facebook.com/5thWaveBJJ/">News</a></li>
    </ul>
  </nav>
</footer>
